<div class="aviation-photos-container-main">
  <div class="navbar-border"></div>
  <div class="avaiation-photos-description">
    <h1>My life as a pilot</h1>
    <p class="aviation-photos-text-body">I have wanted to fly since I was child.
    I completed my private pilots license in Slovakia at a fantastic flight club called <a href="http://jetage.sk/" target="_blank">JetAge</a>.
    The school is based at Bratislava international airport,
    so I was lucky to be able to learn to fly alongside big airliners. Slovakia has amazing scenary and is also
    surrounded beautiful scenic countries, excelllent for exploring by air, such as Austria, Czech Republic, Hungary and Croatia.
    Below I have put together a few photos from my journey towards gaining my license.
    </p>
    <p class="leo-davinci-quote">
      "For once you have tasted flight you will walk the earth with your eyes turned skywards,
      for there you have been and there you will long to return."
    </p>
    <p class="leo-davinci-quote">Leonardo da Vinci</p>
  </div>

  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="love_is_in_the_air.jpg" alt="Love is in the Air" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="OM_LOVe.jpg" alt="ON-LOVe" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="DA20.jpg" alt="DA20" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="remove_before_flight.jpg" alt="Remove Before Flight" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="refuelling.jpg" alt="Refuelling" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="air_offices.jpg" alt="Air Offices" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="DA20_field.jpg" alt="DA20 at Dubova" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="sitting_in_cockpit.jpg" alt="DA20 Cockpit" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="runway_22.jpg" alt="R22 Bratislava International Airport" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="komarno.jpg" alt="Komarno" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="flying_under_clouds.jpg" alt="Fyling Under Clouds" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="cockpit_view.jpg" alt="Cockpit View" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="slovakia_scenary_2.jpg" alt="Slovakia Scenary" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="bratislava_airport.jpg" alt="Bratislava Airport" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="sunset.jpg" alt="Sunset" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="general_aviation_terminal.jpg" alt="General Aviation Terminal" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="paperwork.jpg" alt="Paperwork" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="flight_plan.jpg" alt="Monks in Class" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="DA42.jpg" alt="DA42" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="DA42_cockpit.jpg" alt="DA42 Cockpit" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="DA42_pilot.jpg" alt="" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="DA42_Costas.jpg" alt="DA42 Costas" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="DA42_mountains_2.jpg" alt="DA42 Mountains" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="DA42_wing.jpg" alt="" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="DA42_mountains_3.jpg" alt="" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="DA42_prop_2.jpg" alt="DA42 Propellor" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="DA42_registration_plate_Marta.jpg" alt="DA42 Registration Plate Marta" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="DA20_in_hanger.jpg" alt="DA20 in Hanger" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="hanger_selfie.jpg" alt="Hanger Selfie" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="OM_LIFe.jpg" alt="OM LIFe" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="flight_examiner.jpg" alt="Flight Examiner" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="helicopter.jpg" alt="Helicopter" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="russian_helicopter.jpg" alt="Russian Heicopter" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="refuelling_2.jpg" alt="Refuelling" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="vintage_aircraft.jpg" alt="Vintage Aircraft" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="redbull.jpg" alt="Redbull Racer" class="aviation-photo">
    </div>
  </section>
  <section class="aviation-photos">
    <div class="aviation-photo-container">
      <img src="aerobatic_airplane.jpg" alt="Aerobatic Airplane" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="aerobatic_airplane_2.jpg" alt="Aerobatic Airplane" class="aviation-photo">
    </div>
    <div class="aviation-photo-container">
      <img src="vintage_aircraft_2.jpg" alt="Vintage Aircraft" class="aviation-photo">
    </div>
  </section>
</div>
