<div class="home-container-main">
  <header class="home-header">
    <div class="home-img">
      <img src="computer_on_desk.jpg" alt="Computer on Desk" class="home-photo-header">
    </div>
    <div class="home-text-box">
      <h2 class="home-text-header">Striving for excellence in software craftsmanship</h2>
      <h1 class="home-text">Building amazing solutions together</h1>
    </div>
  </header>
  <section class="home-about-me-container">
    <div class="another-div">
      <div class="home-about-me-text">
        <h1 class="home-about-me-header">Understanding my passion</h1>
        <p class="home-about-me-body">There's something to be said about working with passionate
          people that truly love what they do. I’m no different.
          I honestly enjoy starting each day looking forward  to creating something
          beautiful that has the ability to impact others.</p>
      </div>
      <div class="home-about-me-photo-container">
        <img src="home_about_me.png" alt="" class="home-about-me-photo">
      </div>
    </div>
  </section>
  <section class="about-me">
    <h1 class="about-me-header">My role as a software developer</h1>
    <p class="about-me-body">I am a full-stack web developer with experience in Ruby on Rails, Ruby,
      Javascript, JQuery, HTML, CSS and Node, among other technologies. I strive for clean code with a focus
      on test-driven and behaviour driven development, using git for version control. I regularly attend tech events, meetups and hackathons
      to stay abreast on new trends but also to step away from the keyboard.</p>
      <p class="about-me-body">I would love to hear from you regarding any topic.
        I'm open to meet up in person, formally or informally, over a coffee,
        a pint or just a stroll in a park. I look forward to hearing from.
      </p>
      <div class="contact-me-link-container">
        <a class="contact-me-link" href="/contact">Contact</a>
      </div>
  </section>
  <section class="home-photos1">
    <div class="home-photo-container">
        <img src="bolivia_salt_flats_SUV.jpg" alt="Bolivia Salt Flats" class="home-photo">
      </div>
      <div class="home-photo-container">
        <img src="pilot_selfie.jpg" alt="Pilot Selfie" class="home-photo">
      </div>
      <div class="home-photo-container">
        <img src="vietnam_fixing_bicycle.jpg" alt="Repairing Bicycle in Vietnam" class="home-photo">
      </div>
      <div class="home-photo-container">
        <img src="me_with_monks.jpg" alt="Monks" class="home-photo">
      </div>
      <div class="home-photo-container">
        <img src="costas_mountain_machu_picchu.jpg" alt="Costas Sitting on Edge of Mountain Machu Picchu" class="home-photo">
      </div>
  </section>
    <section class="home-photos2">
    <div class="home-photo-container">
      <img src="fishing_hastings.jpg" alt="Fishing Hastings" class="home-photo">
    </div>
    <div class="home-photo-container">
      <img src="dolphins_new_zealand.jpg" alt="Dolphins New Zealand" class="photo">
    </div>
    <div class="home-photo-container">
      <img src="white_water_rafting_chile.jpg" alt="White Water Rafting Chile" class="photo">
    </div>
    <div class="home-photo-container">
      <img src="biking_whilst_camping.jpg" alt="Biking in Forrest" class="photo">
    </div>
    <div class="home-photo-container">
      <img src="costas_and_janka.jpg" alt="Costas and Janka" class="photo">
    </div>
  </section>
  <section class="home-resume">
    <h1 class="home-resume-header">What I've done & what I can do</h1>
    <p class="home-resume-body">Feel free to take a deeper look at what I've accomplished over the years and what I'm able to do for you.
      My career has given me a wealth of experience and skills which add value in addition to my ablities as a delevoper.
      </p>
      <div class="home-resume-link-container">
        <a class="home-resume-link" href="/resume">View my resume</a>
      </div>
  </section>
</div>
