<div class="welcome-header">
  <div class="welcome-img">
  </div>
  <div class="welcome-text-box">
    <h2 class="welcome-text-header">Achieving excellence in software craftmanship</h2>
    <h1 class="welcome-text">Building amazing solutions together</h1>
  </div>
  <div class="about-me">
    <h1 class="about-me-header">My role as a software developer</h1>
    <p class="about-me-body">I am a full-stack web developer with experience in Ruby on Rails, Ruby,
      Javascript, JQuery, HTML, CSS and Node, among other technologies. I strive for clean code with a focus
      on test-driven and behaviour driven development. I regularly attend tech events, meetups and hackathons
      to stay abreast on new trends but also to step away from the keyboard.</p>
      <p class="about-me-body">I would love to hear from you regarding any topic.
        I'm open to meet up in person, formally or informally, over a coffee,
        a pint or just a stroll in a park. I look forward to hearing from.
      </p>
      <div class="contact-me-link-container">
        <a class="contact-me-link" href="/about-us">Contact</a>
      </div>
  </div>
</div>
