<header class="welcome-header">
  <div class="welcome-img">
  </div>
  <div class="welcome-text-box">
    <h2 class="welcome-text-header">Achieving excellence in software craftmanship</h2>
    <h1 class="welcome-text">Building amazing solutions together</h1>
  </header>
  <section class="about-me">
    <h1 class="about-me-header">My role as a software developer</h1>
    <p class="about-me-body">I am a full-stack web developer with experience in Ruby on Rails, Ruby,
      Javascript, JQuery, HTML, CSS and Node, among other technologies. I strive for clean code with a focus
      on test-driven and behaviour driven development. I regularly attend tech events, meetups and hackathons
      to stay abreast on new trends but also to step away from the keyboard.</p>
      <p class="about-me-body">I would love to hear from you regarding any topic.
        I'm open to meet up in person, formally or informally, over a coffee,
        a pint or just a stroll in a park. I look forward to hearing from.
      </p>
      <div class="contact-me-link-container">
        <a class="contact-me-link" href="/about-us">Contact</a>
      </div>
  </section>
  <section class="photos">
    <div class="photo-container">
      <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/10438512_10154864092410515_6140633693523088605_n.jpg?oh=3f7a7490d06d386b16c6fc042aff3a86&oe=5A4DB817" alt="First Solo" class="photo">
    </div>
    <div class="photo-container">
      <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/1039613_10154874458505515_8418568496965306184_o.jpg?oh=fa940776c3513686c88591160b225206&oe=5A5AF45B" alt="Bratislava Sunset" class="photo">
    </div>
    <div class="photo-container">
      <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/1920997_10154874458730515_7590463039692287810_o.jpg?oh=3616d53685dca7128accc982b278a156&oe=5A522F30" alt="Zilina Approach" class="photo">
    </div>
</section>
</div>
