<header class="welcome-header">
  <div class="welcome-img">
    <img src="https://static.pexels.com/photos/169573/pexels-photo-169573.jpeg" alt="" class=welcome-photo>
  </div>
  <div class="welcome-text-box">
    <h2 class="welcome-text-header">Striving for excellence in software craftsmanship</h2>
    <h1 class="welcome-text">Building amazing solutions together</h1>
  </div>
</header>
<section class="about-me-photo-container">
  <h1 class="about-me-header">Test</h1>
  <p class="about-me-body">Test</p>
</section>
<section class="about-me">
  <h1 class="about-me-header">My role as a software developer</h1>
  <p class="about-me-body">I am a full-stack web developer with experience in Ruby on Rails, Ruby,
    Javascript, JQuery, HTML, CSS and Node, among other technologies. I strive for clean code with a focus
    on test-driven and behaviour driven development. I regularly attend tech events, meetups and hackathons
    to stay abreast on new trends but also to step away from the keyboard.</p>
    <p class="about-me-body">I would love to hear from you regarding any topic.
      I'm open to meet up in person, formally or informally, over a coffee,
      a pint or just a stroll in a park. I look forward to hearing from.
    </p>
    <div class="contact-me-link-container">
      <a class="contact-me-link" href="/about-us">Contact</a>
    </div>
</section>
<section class="home-photos1">
  <div class="home-photo-container">
      <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/16939407_10158409105035515_1937178723707728678_n.jpg?oh=13c8091256e15df0c0fa0b795e7dee86&oe=5A58F2AC" alt="First Solo" class="home-photo">
    </div>
    <div class="home-photo-container">
      <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t31.0-8/1898751_10154874458985515_7207115485762820784_o.jpg?oh=52c225278b57bcc5c3d881339d04b039&oe=5A6090E5" alt="Bratislava Sunset" class="home-photo">
    </div>
    <div class="home-photo-container">
      <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/1461_102512885514_1293_n.jpg?oh=674f3571a59005929c73e139960d6880&oe=5A19AA13" alt="Zilina Approach" class="home-photo">
    </div>
    <div class="home-photo-container">
      <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/668_96661315514_9869_n.jpg?oh=62715f27c5916f62a43c7fe298413c37&oe=5A5A9D3D" alt="First Solo" class="home-photo">
    </div>
    <div class="home-photo-container">
      <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/1924170_92876415514_7692_n.jpg?oh=2cff6591b98ae1b9116c5700ec47d370&oe=5A4A475A" alt="Bratislava Sunset" class="home-photo">
    </div>
</section>
  <section class="home-photos2">
  <div class="home-photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/13892331_10157338033085515_508196963099939866_n.jpg?oh=f2af1ced17a9a83d3e9507992062a7c0&oe=5A59DB14" alt="Zilina Approach" class="home-photo">
  </div>
  <div class="home-photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/16864547_10158409022475515_5824491830583786568_n.jpg?oh=642f1eeb9ea22aab71d3da9b18f20685&oe=5A49B1E4" alt="First Solo" class="photo">
  </div>
  <div class="home-photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/16995949_10158413551465515_7598893824209963521_n.jpg?oh=6bc1344113b0446f857e696e70d7a23c&oe=5A5949AF" alt="Bratislava Sunset" class="photo">
  </div>
  <div class="home-photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/14064171_10157432496570515_86310517217517991_n.jpg?oh=b98b06c323309681a8c34e5b64d00d5d&oe=5A563B0B" alt="Zilina Approach" class="photo">
  </div>
  <div class="home-photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/12039611_10156148198915515_6044515609562857682_n.jpg?oh=d214d7cb61f340791e996bc2ccbd1f18&oe=5A50B301" alt="Zilina Approach" class="photo">
  </div>
</section>
<section class="home-resume">
  <h1 class="home-resume-header">What I've done & what I can do</h1>
  <p class="home-resume-body">Feel free to take a deeper look at what I've accomplished over the years and what I'm able to do for you.
    My resume goes over the standard items, but please understand that I don't embellish my capabilities (no good ever comes out of that)..</p>
    <div class="home-resume-link-container">
      <a class="home-resume-link" href="/about-us">View my resume</a>
    </div>
</section>
</div>
