<div class="resume-container-main">
<div class="resume-header-container-header">
  <img class="resume-computer" src="computer.jpg" alt="">
  <div class="resume-header-container">
    <h2 class="resume-header-header">My journey so far</h2>
    <h1 class="resume-header-body">My experience and skills</h1>
  </div>
</div>

<div class="resume-container">
  <div class="summary">
    <h1 class="resume-header-main">Summary</h1>
    <p class="resume-body">
      I am a junior full-stack web developer with experience in Ruby on Rails, Ruby, Javascript, Node, React.js,
      JQuery, HTML5 and CSS3 among other technologies. I strive for clean code with a focus on
      test-driven and behaviour driven development, using git for version control.
      A <a href="http://www.makersacademy.com/" target="_blank">Makers Academy</a> graduate, I was privileged to have had the
      opportunity to learn in an environment that focused on programming
      best practices such as test and behavior driven development,
      agile methodology and pair programming. An independent learner and problem-solver, I can add great
      value to a company utilizing all the skills learned as a developer, in addition to all the knowledge and
      skills that I have gained from previous roles. I regularly attend tech events,
      meetups and hackathons to stay abreast on new trends but also to step away from the keyboard.
    </p>
  </div>
  <div class="skills">
    <h1 class="resume-header">Skills</h1>
    <h3 class="resume-sunheadings">Technical</h3>
    <p class="resume-body">
      I have experience in object orientated programming languages such as Ruby and also more
      functional languages such as JavaScript, developing code in a test driven manner, utilizing
      testing frameworks such RSpec and Jasmine respectively, and Capybara for behavior driven
      development. I am used to working in an agile way, using methodologies such as scrum, and
      using Git for version control. I have plenty of front-end experience; familiar with HTML5,
      CSS3, React, JQuery, Vanilla, Sass etc., developing dynamic user interfaces which are intuitive
      and concise; as well as experienced in back-end development. I am familiar with RESTful web
      frameworks, utisiling ‘model, view, controller’ architecture to build websites with Rails and
      Sinatra.
    </p>
    <h3 class="resume-sunheadings">Problem Solving</h3>
    <p class="resume-body">
      I am skilled at developing back-end solutions to develop complex apps, such my Catastrophe!
      project, a procedurally generated, side-scrolling platformer game. I have gained the skill
      of quickly effectively debugging scripts during development, resulting in quicker continuous
      integration and combined with TDD, I have the ability to write clean, DRY and intelligent code,
      which is easily scalable, extendable and maintainable.
    </p>
  </div>
  <div class="summary">
    <h3 class="resume-sunheadings">Other Skills</h3>
    <ul class="resume-body">
      <li>Communication and presentation skills with stakeholders at all levels</li>
      <li>Analytical thinking</li>
      <li>Self learner and self disciplined </li>
      <li>Excellent organisational and planning skills</li>
      <li>Articulate with great attention to detail</li>
      <li>Ability to think outside the box in finding solutions</li>
    </ul>
  </div>
  <div class="education">
    <h1 class="resume-header">Education</h1>
    <h3 class="resume-sunheadings"><a href="http://www.makersacademy.com/" target="_blank">Makers Academy</a> (July 201 to Sept 2017)</h3>
    <ul class="resume-body">
      <li>Strong focus on Test Driven Development and pair programming</li>
      <li>OOP, TDD, BDD, SOLID, MVC, DDD</li>
      <li>Software Craftsmanship</li>
      <li>Ruby, Ruby on Rails, JavaScript, JQuery, React.js, Node</li>
      <li>PostreSQL</li>
      <li>Agile</li>
      <li>HTML5, CSS3, Sass</li>
      <li>RSpec, Jasmine, Capybara</li>
    </ul>
    <h3 class="resume-sunheadings"><a href="http://www.londonmet.ac.uk/" target="_blank">London Metropolitan University</a> (September 2006 to July 2009)</h3>
    <ul class="resume-body">
      <li>BA Hons 1st Class - Business & Marketing</li>
    </ul>
  </div>
  <div class="experience">
    <h1 class="resume-header">Experience</h1>
    <h3 class="resume-sunheadings"><a href="https://www.adp.org.uk/" target="_blank">The Hackett Group</a> (October 2009 to March 2016)</h3>
    <h3 class="resume-business-titles">Account Manager</h3>
    <p class="resume-body">
      I managed a portfolio of around one hundred clients, a large number of which were listed
      in the FTSE 100. I was part of the advisory practice responsible for helping clients adopt
      best practices to enable more effective strategic decision making and improve back office
      processes.
    </p>
    <h3 class="resume-sunheadings"><a href="https://www.eno.org/" target="_blank">The English National Opera</a> (January 2002 to September 2009)</h3>
    <h3 class="resume-business-titles">Hospitality Manager</h3>
    <p class="resume-body">
      Responsible for assisting the general manager in the running of the numerous bars, restaurants
      and events, catering to patrons, VIP's and royalty.
    </p>
    <h3 class="resume-sunheadings">Volunteer School Teacher (Between October 2008 - October 2009) </h3>
    <p class="resume-body">
      I spent time in Nepal, Mexico and Laos teaching and working with underprivileged school children. An amazing experience
      which shaped my character.
    </p>
  </div>
  <div class="Interests">
    <h1 class="resume-header">Interests</h1>
    <ul class="resume-body">
      <li><strong>Aviation</strong> - As a qualified private pilot, I have had the incredible opportunity to fly over several
        countries in central Europe as well as parts of the Southeast of the UK. <a href="/aviation_photos">Photos</a></li>
      <li><strong>Traveling</strong> - I spent one year backpacking across twenty-one countries, spanning three continents.</li>
      <li><strong>Cooking</strong> - I love cooking for my wife, family and friends. I'm currently trying to perfect the skill of sourdough bread baking.
        Very relaxing after an intensive coding session.</li>
      <li><strong>Cycling</strong> - I enjoy long bike rides along the <a href="https://canalrivertrust.org.uk/enjoy-the-waterways/canal-and-river-network/lee-navigation" target="_blank">River Lee</a></li>
    </ul>
  </div>
  <div class="Languages">
    <h1 class="resume-header">Langauges</h1>
    <ul class="resume-body">
      <li>English</li>
      <li>Greek</li>
      <li>Learning Slovak and Spanish</li>
    </ul>
  </div>
</div>
</div>

<!-- https://www.thehackettgroup.com/ -->
