<div class="portfolio-container-main">
  <div class="makers-team-container">
    <img class="makers-team" src="makers_team.jpg" alt="">
  </div>
  <div class="portfolio-header-container">
    <h2 class="portfolio-header-header">Expressing creativity through code </h2>
    <h1 class="portfolio-header-body">Discover my work</h1>
  </div>
  <div class="portfolio-container">
    <div class="catastrophe-container">
      <h1 class="catastrophe-header">Catastrophe!</h1>
      <div class="catastrophe-screenshot-container">
        <img class="catastrophe-screenshot" src="catastrophe_screenshot.png" alt="Catastrophe Game Demo">
      </div>
      <p class="catastrophe-description">A prodecurally generated, side-scrolling platformer game based on the topic of
        'cats pushing stuff off surfaces', built in collaboration with five other developers from initial concept to final product.
        Written in JavaScript (ES5) utilising Matter.js as a physics engine, HTML 5 Canvas and Jasmine as a testing
        framework. Using a custom-written level design AI, the game distributes platforms and objects at
        random to create a new player experience every time.
      </p>
      <div class="catastrophe-play-link-container">
        <a class="catastrophe-play-link" href="http://www.catastrophe.wtf" target="_blank">Play the game!</a>
      </div> </br>
      <a class="catastrophe-source-code" href="http://www.github.com/ckiteou/side-scroller" target="_blank">Source Code</a>
    </div>
  </div>
</div>
