
<div class="container-fluid">
  <div class="flight">
    <div class="main">
      <h2>Discover who I am aside from a developer</h2>
      <h1>My Passions and Personality</h1>
    </div>
  </div>
  <section class="about">
    <h1 class="about-header">A little bit about me</h1>
    <p class="about-body">A year ago, I made the terrifying decision to change careers.
      I had worked in the city for several years at a management consultancy,
      in a role which had left me feeling empty, exhausted and disilusioned,
      I believed, since we spend the majority of our lives at work, it's important
      to spend this time doing something that we are passionate about.
    </p>
    <p class="about-quote">"The most difficult thing is the decision to act,
      the rest is merely tenacity. The fears are paper tigers.
      You can do anything you decide to do.
      You can act to change and control your life;
      and the procedure, the process is its own reward."
    </p>
    <p class="about-quote-subject">Amelia Earhart</p>
    <p class="about-body">A friend had introduced me to the magical world
      of programming and I was instantly hooked. I knew I was hooked, because my wife had to ask me
      to go sleep at 4am after being glued to my MacBook for the better part of sixteen hours.
      I joined Makers Academy and four months later, I was one step closer to my dream.
    </p>
  </section>
  <section class="photos">
    <div class="photo-container">
      <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/10438512_10154864092410515_6140633693523088605_n.jpg?oh=3f7a7490d06d386b16c6fc042aff3a86&oe=5A4DB817" alt="First Solo" class="photo">
    </div>
    <div class="photo-container">
      <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/1039613_10154874458505515_8418568496965306184_o.jpg?oh=fa940776c3513686c88591160b225206&oe=5A5AF45B" alt="Bratislava Sunset" class="photo">
    </div>
    <div class="photo-container">
      <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/1920997_10154874458730515_7590463039692287810_o.jpg?oh=3616d53685dca7128accc982b278a156&oe=5A522F30" alt="Zilina Approach" class="photo">
    </div>
  </section>
  <section class="about">
    <h1 class="about-header2">A little bit more about me</h1>
    <p class="about-body">
      If you haven't yet figured out from the photos, my other passion is avaiation. I still have the image in my mind of the first time I saw an aeroplane, at the airport, aged five,
      whilst holding my mothers hand. After leaving my job, I took some time out to finish my private pilots training and get my license.
      The photo above left, was taken on the day I first solo'ed, having only one and a half weeks training. It's one of the greatest days of my life.</p>
    <p class="about-body">
      Another passion of mine is travelling. After uni, I spent one year backpacking across twenty-one countries, spanning three continents. During my travels
      I climbed an active volcano in Chile, scuba dived on the Great Barrier Reef, swam with dolphins in New Zealand, travelled to Ushuaia in Argentina,
      the southernmost city in the world, visited Machu Picchu, climbed the Great Wall of China, visited The Forbidden City in Beijing,
      was dazzled at the beauty of the The Taj Mahal, drank tea in Darjeeling, trekked in the Himalayas, took a cooking class Chang Mai, was touched by the kindness of the Vietnamese,
      humbled at Angkor Wat and saddened visiting the 'killing fields' in Phnom Phen.
      </p>
  </section>
<section class="photos">
  <div class="photo-container">
    <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/16681931_10158401052810515_3325034380892884524_n.jpg?oh=88381e5b3e77d0bcacc175e14ec5e58c&oe=5A4E3463" alt="Cambodia Ankor Wat" class="photo">
  </div>
  <div class="photo-container">
    <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/16864308_10158400948460515_6587415339591323326_n.jpg?oh=5bfd139dea79a0281cc0ac0a4c42a975&oe=5A55EA66" alt="Laos" class="photo">
  </div>
  <div class="photo-container">
    <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/16832029_10158400948325515_4333762833360182070_n.jpg?oh=87548fb48042e4cf941422a7140a6afa&oe=5A19985E" alt="Nepal Anapurna" class="photo">
  </div>
</section>
<section class="about">
  <h1 class="about-header">And even more...</h1>
  <p class="about-body">
    Whilst in Laos, South-East Asia, I had the amazing opportunity to of teaching English to monks in Laos. I spent two weeks, following their
    daily routine, from waking up at dawn to walk the streets begging for rice, to meditation and chanting at temple. Thier kindness and genorosity
    will stay with me for ever.
  </p>
  <p class="about-body">
    Another incredible experience, was working with underprivildged children in Nepal, Mexico and Peru.
    The photos below are from some of my students from a school in a town called Lubhu, just outside of Kathmandu.
  </p>
  <p class="about-body">
    I have mentioned 'passion' a number of times. This was deliberate. The day I decided to change my career, I decied to change my entire life.
    Start eating healthier, exercise regularly, spend more time with family and friends, read more and most importantly, start each day with the aim of consciously
    making it a great day, not waiting for it to happen.
  </p>
  <p class="about-body">
    Today, 'passion', is what defines me.
  </p>
</section>
<section class="photos">
  <div class="photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/16683806_10158396808615515_4387844562823741133_n.jpg?oh=9e67c04b63a33ec3cbf572b0f5615672&oe=5A4B952A" alt="Cambodia Ankor Wat" class="photo">
  </div>
  <div class="photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/16831905_10158396810295515_1754784564019834226_n.jpg?oh=2faf7ea4386cfa5274076b61878d02a7&oe=5A150A75" alt="Laos" class="photo">
  </div>
  <div class="photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/16807541_10158396809985515_5497594228188889241_n.jpg?oh=828bec8bc8a181966bbed04be2276298&oe=5A1A79C0" alt="Nepal Anapurna" class="photo">
  </div>
</section>
<section class="about">
  <h1 class="about-header">Finally</h1>
  <p class="about-body">If you would
  </p>
</section>
</div>
