
<div class="container">
  <div class="flight">
    <div class="main">
      <h2>Discover who I am aside from a developer</h2>
      <h1>My Passions and Personality</h1>
    </div>
  </div>
  <section class="about">
    <h1 class="about-header">A little bit about me</h1>
    <p class="about-body">Having worked in the city for several years for a management consultancy,
      in a role which left me feeling exhausted and empty,
      I made the terrifying decision to change careers. Enough was enough.
      We spend the majority of our lives at work, therefore I believe it's paramount
      to spend that time doing something that we are passionate about.</p>
    <p class="about-quote">"The most difficult thing is the decision to act,
    the rest is merely tenacity. The fears are paper tigers.
    You can do anything you decide to do.
    You can act to change and control your life;
    and the procedure, the process is its own reward."
  </p>
  <p class="about-quote-subject">Amelia Earhart</p>
  </section>
  <section class="photos">
    <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/10438512_10154864092410515_6140633693523088605_n.jpg?oh=3f7a7490d06d386b16c6fc042aff3a86&oe=5A4DB817" alt="First Solo" class="photo">
    <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/1039613_10154874458505515_8418568496965306184_o.jpg?oh=fa940776c3513686c88591160b225206&oe=5A5AF45B" alt="Bratislava Sunset" class="photo">
    <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/1920997_10154874458730515_7590463039692287810_o.jpg?oh=3616d53685dca7128accc982b278a156&oe=5A522F30" alt="Zilina Approach" class="photo">
  </section>
  <section class="about">
    <h1 class="about-header">A little bit more about me</h1>
  <p class="about-body">If you have not figured it out yet, I love flying.
    I have done so since the age of five.
    I still have the image in my mind the first time I saw an aeroplane, at the airport,
    whilst holding my mothers hand. The photo above left, was taken on the day I first solo'ed, one of the greatest days of my life.</p>
  </section>
<section class="photos">
  <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/16681931_10158401052810515_3325034380892884524_n.jpg?oh=88381e5b3e77d0bcacc175e14ec5e58c&oe=5A4E3463" alt="Cambodia Ankor Wat" class="photo">
  <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/16864308_10158400948460515_6587415339591323326_n.jpg?oh=5bfd139dea79a0281cc0ac0a4c42a975&oe=5A55EA66" alt="Laos" class="photo">
  <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/16832029_10158400948325515_4333762833360182070_n.jpg?oh=87548fb48042e4cf941422a7140a6afa&oe=5A19985E" alt="Nepal Anapurna" class="photo">
</section>
<section class="about">
  <h1 class="about-header">And even more...</h1>
  <p class="about-body">I also love travelling. I spent one year backing across twenty-one countries, spanning three continents.
    During that time I got teach underprivilidged school children in Nepal, Mexico and Peru. I taught English to monks in Laos.
    I climbed an active volcano in Chile, scuba dived on the Great Barrier Reef in Australia and swam with dolphins in New Zealand.
    I travelled to Ushuaia in Argentina, the southernmost city in the world. I visited Machu Picchu, the Great Wall of China, The Taj Mahal...
    I could go on and on. But I wont. What I will say, is that did all of these things because of a conscious choice. I did not wait for
  </p>
</section>
</div>
