
<div class="container-fluid">
  <header class="header-container">
  <div class="header-photo-container">
    <img src="flight_cruise.png" alt="" class="cruise-flight-photo">
  </div>
  <div class="about-header-container">
    <h2 class="about-header-header">Discover who I am aside from a developer</h2>
    <h1 class="about-header-body">My Passions and Personality</h1>
  </div>
</header>
  <section class="about-a-few-interesting-facts-about-me">
    <h1 class="about-header">A few interesting facts about me</h1>
    <p class="about-body">I have a private pilots license, I love baking sourdough bread,
      I'm obessevively organised, I have visited fifty-one countries to date, I organised events for
      royalty, celebrities and VIP's whilst at the ENO, I drink way too much coffee and my next-door
      neighbours cat 'Pedro' keeps me company every day while I work from home.
    </p>
  </section>
  <section class="about-a-little-bit-more-about-me">
    <h1 class="about-header">A little bit more about me</h1>
    <p class="about-body">During my career I have worked at some amazing organisations
      with some very talented people. I have also worked at places where profit margins
      come first and blurring the line between work and private life is tacit company culture.
      All have taught me valuable lessons.
    </p>
    <p class="about-body">After a life changing decision, which took a lot of courage, I now stand at the
      beginning of a new journey as a software developer. A journey which both excites me but also leaves me
      apprehensive, not sure where this path wil take me. But what I do know, is that doing something you are
      passionate about is vital in life. Read on to hear more about my passions.
    </p>
  </section>
  <section class="photos">
    <div class="photo-container">
      <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/10438512_10154864092410515_6140633693523088605_n.jpg?oh=3f7a7490d06d386b16c6fc042aff3a86&oe=5A4DB817" alt="First Solo" class="photo">
    </div>
    <div class="photo-container">
      <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/1039613_10154874458505515_8418568496965306184_o.jpg?oh=fa940776c3513686c88591160b225206&oe=5A5AF45B" alt="Bratislava Sunset" class="photo">
    </div>
    <div class="photo-container">
      <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/1920997_10154874458730515_7590463039692287810_o.jpg?oh=3616d53685dca7128accc982b278a156&oe=5A522F30" alt="Zilina Approach" class="photo">
    </div>
  </section>
  <section class="about-aviation">
    <h1 class="about-header">Aviation</h1>
    <p class="about-body">
      I love aviation. I still have the image in my mind of the first time I saw an aeroplane, aged five,
      whilst holding my mothers hand at the aiport. The photo above left, was taken on the day I first solo'ed, after only one and a half weeks training.
      It's one of the greatest days of my life.</p>
      <div class="more-photos-link-container">
        <a class="more-photos-link" href="/about-us">More Photos</a>
      </div>
  </section>
<section class="photos">
  <div class="photo-container">
    <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/16681931_10158401052810515_3325034380892884524_n.jpg?oh=88381e5b3e77d0bcacc175e14ec5e58c&oe=5A4E3463" alt="Cambodia Ankor Wat" class="photo">
  </div>
  <div class="photo-container">
    <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/16864308_10158400948460515_6587415339591323326_n.jpg?oh=5bfd139dea79a0281cc0ac0a4c42a975&oe=5A55EA66" alt="Laos" class="photo">
  </div>
  <div class="photo-container">
    <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/16832029_10158400948325515_4333762833360182070_n.jpg?oh=87548fb48042e4cf941422a7140a6afa&oe=5A19985E" alt="Nepal Anapurna" class="photo">
  </div>
</section>
<section class="about-travelling">
  <h1 class="about-header">Travelling</h1>
  <p class="about-body">
    Another passion is travelling. After uni, I spent one year backpacking across twenty-one countries, spanning three continents.
    Whilst in Laos, South-East Asia, I taught English to monks.
  </p>
  <p class="about-body">
    I also worked with underprivildged children in Nepal, Mexico and Peru.
    The photos below are of some of my students from a school in a town called Lubhu, just outside of Kathmandu.
    It was an amazing experience which shaped my character.
  </p>
  <div class="more-photos-link-container">
    <a class="more-photos-link" href="/about-us">More Photos</a>
  </div>
</section>
<section class="photos">
  <div class="photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/16683806_10158396808615515_4387844562823741133_n.jpg?oh=9e67c04b63a33ec3cbf572b0f5615672&oe=5A4B952A" alt="Cambodia Ankor Wat" class="photo">
  </div>
  <div class="photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/16831905_10158396810295515_1754784564019834226_n.jpg?oh=2faf7ea4386cfa5274076b61878d02a7&oe=5A150A75" alt="Laos" class="photo">
  </div>
  <div class="photo-container">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/16807541_10158396809985515_5497594228188889241_n.jpg?oh=828bec8bc8a181966bbed04be2276298&oe=5A1A79C0" alt="Nepal Anapurna" class="photo">
  </div>
</section>
<section class="about-future">
  <h1 class="about-header">The future</h1>
  <p class="about-body">A year ago, I made the terrifying decision to change careers.
    I had worked in the city for several years at a management consultancy,
    in a role which had left me feeling empty, exhausted and disillusioned.
    I strongly believed that, since we spend the majority of our lives at work, it should be
    spent doing something that we are passionate about.
  </p>
  <p class="about-quote">"The most difficult thing is the decision to act,
    the rest is merely tenacity. The fears are paper tigers.
    You can do anything you decide to do.
    You can act to change and control your life;
    and the procedure, the process is its own reward."
  </p>
  <p class="about-quote-subject">Amelia Earhart</p>
</section>
<section class="about-contact">
  <h1 class="about-header">I would love to hear from you</h1>
  <p class="about-body-contact">Please feel free to reach out regarding any topic, whether it's to discuss programming, aviation,
    travelling or even just a general chat.
    I'm open to meet up in person, formally or informally, over a coffee, a pint or just a stroll in a park.
    I look forward to hearing from.
  </p>
  <div class="contact-me-link-container">
    <a class="contact-me-link" href="/about-us">Contact</a>
  </div>
</section>
</div>
