// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid {
  padding: 0 !important;
}

.header-img {
  background: url("flight_cruise.png") no-repeat center center;
  position: relative;
  top: -100px;
  background-size: cover;
  height: 810px;
  filter: brightness(60%);
}

.about-header-container {
  top: 340px;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}

.about-header-header {
  font-family: serif;
  color: white;
  font-weight: 110;
  font-size: 26px;
  font-style: italic;
  text-align: center;
  margin: auto;
  width: 900px;
  margin-bottom: 15px;
}

.about-header-body {
  color: white;
  font-weight: 500;
  font-size: 70px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  width: 900px;
}

.about-a-few-interesting-facts-about-me {
  top: -100px;
  position: relative;
  height: 350px;
  background-color: #e6e6e6;
}

.about-a-little-bit-more-about-me {
  top: -100px;
  position: relative;
  height: 480px;
  background-color: white;
}

.about-aviation {
  top: -100px;
  position: relative;
  height: 440px;
  background-color: white;
}

.about-travelling {
  top: -100px;
  position: relative;
  height: 520px;
  background-color: white;
}

.about-contact {
  top: -100px;
  position: relative;
  height: 390px;
  background-color: #e6e6e6;
  margin-bottom: -100px;
}

.about-future {
  top: -100px;
  position: relative;
  height: 500px;
  background-color: white;
}

.about-header {
  width: 700px;
  margin: auto;
  vertical-align: text-top;
  padding-top: 50px;
  text-align: center;
  font-size: 46px;
  font-family: "Palatino Linotype";
}

.about-body {
  padding-top: 30px;
  margin: auto;
  width: 800px;
  text-align: center;
  font-size: 18px;
  font-family: Verdana;
  font-weight: 100;
  line-height: 200%;
  font-family: "Palatino Linotype";
}

.about-body-contact {
  padding-top: 20px;
  margin: auto;
  width: 700px;
  text-align: center;
  font-size: 18px;
  font-family: serif;
}

.about-quote {
  margin: auto;
  width: 600px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-family: serif;
  line-height: 200%;
}

.about-quote-subject {
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-family: serif;
}

.photos {
  top: -100px;
  position: relative;
  height: auto;
  overflow: hidden;
  margin-bottom: 0px;
}

.photo-container {
  float: left;
  width: 33.33%;
  height: auto;
  text-align: center;
}

.photo {
  width: 100%;
  height: 100%;
}

.contact-me-link-container {
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
}

.contact-me-link {
  text-decoration: none !important;
  display: inline-block;
  color: black;
  font-size: 25px;
  padding: 7px 55px 7px 55px;
}

.contact-me-link-container:hover,
.contact-me-link-container:focus,
.contact-me-link:hover,
.contact-me-link:focus  {
  background-color: black;
  color: white;
}

.more-photos-link-container {
  width: 260px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
}

.more-photos-link {
  text-decoration: none !important;
  display: inline-block;
  color: black;
  font-size: 25px;
  padding: 7px 56px 7px 57px;
}

.more-photos-link-container:hover,
.more-photos-link-container:focus,
.more-photos-link:hover,
.more-photos-link:focus  {
  background-color: black;
  color: white;
}
