// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.flight {
  background: url("flight_cruise.png") no-repeat center center;
  background-size: cover;
  height: 900px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.main {
  top: 400px;
  position: relative;
  // top: 50%;
  // left: 0;
  // right: 0;
  justify-content: center;
  text-align: center;
}

.main h2 {
  color: white;
  font-weight: 110;
  font-size: 24px;
  font-style: italic;
  margin-top: 0;
  width: 900px;
  // justify-content: center;
  // text-align: center;
  // vertical-align: center;
}

.main h1 {
  // position: relative;
  color: white;
  font-weight: 500;
  font-size: 70px;
  margin-top: 0;
  text-transform: uppercase;
  width: 900px;
  // text-align: center;
  // vertical-align: center;
}

.x {
  padding-top: 1500px;

}
