// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome-img {
  background: url("https://static.pexels.com/photos/169573/pexels-photo-169573.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: rgba(255,255,255,0.25);
}

.navbar .navbar-nav > li > a {
  background-color:transparent !important;
  color: black;
  font-size: 25px;
  font-weight: bold;
}
.navbar .navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    color: white;
}

.welcome-text {
  font-size: 25px;
  color: white;
  position: right;
  width: 700px;
  font-style: italic;
  text-shadow: 1px 1px black;
}

.welcome-text-box {
  position: relative;
  margin-top: 60px;
  width: 300px;
  margin-left: 550px;
}
