// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-header {
  position: relative;
  top: -120px;
  overflow: hidden;
}

.welcome-img {
  float: left;
  width: 100%;
  height: auto;
  filter: brightness(30%);
}

.welcome-photo {
  width: 100%;
  height: 100%;
}

.navbar {
  margin-left: 20px;
  z-index: 1 !important;
}

.navbar .navbar-nav > li > a {
  background-color: transparent !important;
  position: relative;
  margin-top: 20px;
  margin-right: 15px;
  color: white;
  font-size: 25px;
  font-weight: 100;
}

.navbar .navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    filter: brightness(60%);
}

.welcome-text-box {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  top: 30%;
}

.welcome-text-header {
  font-family: serif;
  color: white;
  font-weight: 110;
  font-size: 26px;
  font-style: italic;
  margin: auto;
  width: 900px;
  margin-bottom: 15px;
}

.welcome-text {
  color: white;
  font-weight: 500;
  font-size: 70px;
  text-transform: uppercase;
  width: 900px;
}
.welcome-about-me-container {
  box-sizing: border-box;
  position: relative;
  top: -120px;
  background-color: white;
  height: 590px;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.welcome-about-me-photo-container {
  border: 1px dotted black;
  display: inline-block;
  width: 45%;
  filter: brightness(90%);
}

.welcome-about-me-photo {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.welcome-about-me-text {
  position: relative;
  top: -80px;
  display: inline-block;
  margin: 2%;
  width: 45%;
  height: 100%;
}

.welcome-about-me-header {
  text-align: left;
  font-size: 46px;
  font-family: "Palatino Linotype";
}

.welcome-about-me-body {
  padding-top: 20px;
  text-align: left;
  font-size: 17px;
  font-family: Verdana;
  font-weight: 100;
  line-height: 200%;
  font-family: "Palatino Linotype";
}

.about-me {
  position: relative;
  top: -120px;
  background-color: #e6e6e6;
  height: 590px;
}

.about-me-header {
  width: 1000px;
  margin: auto;
  vertical-align: text-top;
  padding-top: 70px;
  text-align: center;
  font-size: 46px;
  font-family: "Palatino Linotype";
}

.about-me-body {
  padding-top: 30px;
  margin: auto;
  width: 800px;
  text-align: center;
  font-size: 18px;
  font-family: Verdana;
  font-weight: 100;
  line-height: 200%;
  font-family: "Palatino Linotype";
}

.home-photos1 {
  position: relative;
  overflow: hidden;
  top: -120px;
  padding: 2.5px 2.5px 0px 2.5px;
}

.home-photos2 {
  position: relative;
  overflow: hidden;
  top: -120px;
  padding: 0px 2.5px 2.5px 2.5px;
}

.home-photo-container {
  float: left;
  width: 20%;
  height: auto;
  text-align: center;
  filter: sepia(80%);
  padding: 5px 5px 5px 5px;
}

.home-photo {
  width: 100%;
  height: 100%;
}

.home-resume {
  position: relative;
  top: -120px;
  background-color: #e6e6e6;
  height: 480px;
  margin-bottom: -120px;
}

.home-resume-header {
  width: 1000px;
  margin: auto;
  vertical-align: text-top;
  padding-top: 70px;
  text-align: center;
  font-size: 46px;
  font-family: "Palatino Linotype";
}

.home-resume-body {
  padding-top: 30px;
  margin: auto;
  width: 800px;
  text-align: center;
  font-size: 18px;
  font-family: Verdana;
  font-weight: 100;
  line-height: 200%;
  font-family: "Palatino Linotype";
}

.home-resume-link-container {
  width: 300px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
}

.home-resume-link {
  text-decoration: none !important;
  display: inline-block;
  color: black;
  font-size: 25px;
  padding: 7px 56px 7px 57px;
}

.home-resume-link-container:hover,
.home-resume-link-container:focus,
.home-resume-link:hover,
.home-resume-link:focus  {
  background-color: black;
  color: white;
}

.footer-container {
  position: relative;
  height: 300px;
  background-color: black;
}

.footer-heading {
  position: relative;
  top: 70px;
  color: white;
  font-weight: 100;
  font-size: 44px;
  text-align: center;
  margin: auto;
  width: 900px;
  font-family: "Times New Roman";
}

.footer-navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.footer-navbar .navbar-collapse {
  text-align: center;
}

.footer-navbar .nav.navbar-nav > li > a {
  background-color:transparent !important;
  position: relative;
  top: 140px;
  margin-right: 15px;
  color: white;
  font-size: 25px;
  font-weight: 100;
}

.footer-navbar .navbar-nav > li > a:hover,
.footer-navbar-nav > li > a:focus {
    filter: brightness(60%);
}
