<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Costas Kiteou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
    <header>
      <div id="custom-bootstrap-menu" class="navbar" role="navigation" >
          <div class="container-fluid">
              <div class="collapse navbar-collapse navbar-menubuilder">
                  <ul class="nav navbar-nav navbar-left">
                    <li><a class="nav-link" href="/">Home</a>
                      </li>
                      <li><a class="nav-link" href="/about">About</a>
                      </li>
                      <li><a class="nav-link" href="/products">Portfolio</a>
                      </li>
                      <li><a class="nav-link" href="/about-us">Resume</a>
                      </li>
                      <li><a class="nav-link" href="/contact">Contact</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </header>
    <!-- <div class="container-fluid"> -->
    <%= yield %>
  <!-- </div> -->
  <footer>
    <div class="footer-container">
      <h1 class="footer-heading">Achieving excellence in software craftsmanship.</h1>
      <div id="custom-bootstrap-menu" class="footer-navbar" role="navigation">
          <div class="container-fluid">
              <div class="collapse navbar-collapse navbar-menubuilder">
                  <ul class="nav navbar-nav">
                    <li><a class="nav-link" href="/">Home</a>
                      </li>
                      <li><a class="nav-link" href="/about">About</a>
                      </li>
                      <li><a class="nav-link" href="/products">Portfolio</a>
                      </li>
                      <li><a class="nav-link" href="/about-us">Resume</a>
                      </li>
                      <li><a class="nav-link" href="/contact">Contact</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
  </footer>
  </body>
</html>
